* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(./assets/nuit_etoilee.png);
}

img {
  width: auto;
  height: 350px;
  border-radius: 2rem;
}

h1 {
  color: aliceblue;
}

button {
  margin: 30px;
}

button img {
  height: 40px;
  width: auto;
}